html {
  scroll-behavior: smooth; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* general font size for html page */
html {
  font-size: 20px;
  font-family: Arial, sans-serif; }

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover; }
  .header .header-image {
    width: 100%;
    transform-origin: top left;
    transform: skewY(-3deg);
    height: 80vh; }
  .header .main {
    color: white;
    position: absolute;
    text-align: center; }

#main-content::after {
  content: "|";
  animation: blink 0.7s infinite; }

@keyframes blink {
  0%, 100% {
    opacity: 1; }
  50% {
    opacity: 0; } }
/* nav menu */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 10px 25px;
  width: 100%;
  z-index: 2;
  top: 0; }

li {
  list-style-type: none; }

a {
  text-decoration: none;
  text-align: center; }

.navbar-list {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .navbar-list li {
    margin-left: 2rem; }
  .navbar-list li:nth-last-child(2) {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    background-color: dodgerblue; }

.navbar-link {
  font-size: 15px;
  font-weight: 400;
  color: white; }

.navbar-link:hover {
  color: antiquewhite; }

/* arrow for scroll up navbar list */
.scroll-up {
  display: none; }

/* hamburger */
.hamburger {
  display: none; }

/* hamburger bars */
.bars {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: white;
  transition: all 0.2s ease-in-out;
  border: 0; }

.after-scroll-active-logo {
  display: none; }

.navbar.scrolled {
  border-bottom: 1px solid gray;
  background: white; }
  .navbar.scrolled .navbar-link {
    color: black; }
  .navbar.scrolled .active-logo {
    display: none; }
  .navbar.scrolled .after-scroll-active-logo {
    display: block; }

/* when scroll to particular section */
.active-link {
  font-weight: bold; }

/* intro section */
.intro {
  background: white;
  padding: 10px;
  margin-bottom: 100px;
  margin-top: -120px; }

.intro-container {
  display: flex;
  justify-content: center;
  align-items: center; }

.intro-card {
  z-index: 1;
  margin: 20px;
  color: white;
  height: 220px;
  width: 220px;
  display: flex;
  font-size: 15px; }
  .intro-card .intro-card-img {
    width: 100%;
    height: 100%; }
  .intro-card .intro-card-title {
    position: absolute;
    margin: 10px 0 0 10px; }
  .intro-card .intro-card-table {
    position: absolute;
    display: flex;
    justify-content: center;
    align-self: end;
    width: 220px;
    border-collapse: collapse; }
    .intro-card .intro-card-table tr {
      height: 50px;
      border-bottom: 1px solid white; }
    .intro-card .intro-card-table tr:last-child {
      border-bottom: none; }
    .intro-card .intro-card-table td {
      padding: 5px; }
  .intro-card p {
    position: absolute;
    display: flex;
    align-self: end;
    padding: 10px;
    width: 150px;
    font-weight: bold;
    margin: 10px 0 10px 0; }

.services {
  background: white;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px; }
  .services h2 {
    margin-top: 20px;
    margin-bottom: 15px; }

.services-container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center; }

.service-card {
  background: #ffffff;
  border: 1px solid lightgrey;
  padding: 80px;
  margin: 30px;
  height: 220px;
  width: 220px; }

.service-hidden-content {
  display: none; }

.service-icon {
  display: block;
  margin: auto;
  width: 40px;
  height: 40px; }

.service-card:hover {
  cursor: pointer;
  border: 1px solid lightblue;
  height: 220px; }
  .service-card:hover .service-icon {
    transform: translateY(-100px);
    transition: transform ease-in-out;
    transition-duration: 1s;
    background: white; }
  .service-card:hover .service-title {
    transition: transform linear;
    transition-duration: 1s;
    transition-delay: 0.3s;
    transform: translateY(-90px); }
  .service-card:hover .service-hidden-content {
    transform: translateY(-70px);
    animation: hiddenContent 1s;
    display: flex;
    vertical-align: middle;
    justify-content: center; }

@keyframes hiddenContent {
  0% {
    opacity: 0; }
  99% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.footer {
  background: lightgrey;
  width: 100%;
  position: relative; }

.footer:before {
  content: "";
  position: absolute;
  top: -30px;
  height: 60px;
  left: 0;
  right: 0;
  background: linear-gradient(to bottom right, transparent 50%, lightgrey 51%); }

@media only screen and (max-width: 768px) {
  .html {
    font-size: 20px; }

  .navbar-link {
    font-size: 15px; }

  .intro {
    padding: 5px; }

  .intro-container {
    flex-direction: column; }

  .services-container {
    flex-direction: column; } }
@media only screen and (max-width: 640px) {
  .header .img {
    width: 100%;
    height: 100vh; }

  .intro {
    margin-top: -70px; }

  .hamburger {
    display: block;
    cursor: pointer; }

  .navbar {
    opacity: 1;
    top: 0;
    padding: 10px 25px; }

  .navbar-list {
    position: fixed;
    left: -100%;
    top: 0;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 5px;
    text-align: center;
    transition: trasform 0.2s ease-in-out;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05); }
    .navbar-list .navbar-link {
      color: black; }

  .navbar.scrolled .bars {
    background: black; }

  .navbar-list.active {
    left: 0; }
    .navbar-list.active li {
      margin: 10px 0; }
    .navbar-list.active .scroll-up {
      display: block; }
    .navbar-list.active li:last-child {
      width: 100%;
      background: dodgerblue;
      margin-bottom: 0;
      margin-top: 40px; }
      .navbar-list.active li:last-child img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%; } }

/*# sourceMappingURL=style.css.map */
